@import '../../global.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  display: inline-block;
}


button.hover\:bg-opacity-10:hover {
  background-color: color-mix(in srgb, var(--hover-bg) 10%, transparent) !important;
}

button:hover {
  background-color: var(--hover-bg, inherit);
}
